
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
  
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>EDA</title>

   </head>
  <body>

<script>

function func(){
 //select the option tags
    var vs = $('select  option:selected').val();
    document.getElementById("iamge").src=vs;

}

</script>

<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><strong>Covid-19-Prediction</strong></a>
            <button class="navbar-toggle" data-toggle="collapse" data-target="#nav1">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="nav1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Every Country Prediction</a></li>
                <li><a href="/EDA">EDA</a></li>
                <li><a href="/Government_Measures">Government_Measures</a></li>
            </ul>
        </div>
    </nav>
</div>







    <div class="container">
     <div class="row">
        <div class="panel panel-primary">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <h4>Every Country Prediction</h4>
                </div>
                <div class="panel-body">
                    <div class="panel-body">
                            <select class="form-control" onchange = "func()" id="ist">
                            <option value="/static/Every_Countries/Eve_Afghanistan.png">Afghanistan</option>
                            <option value="/static/Every_Countries/Eve_Albania.png">Albania</option>
                            <option value="/static/Every_Countries/Eve_Algeria.png">Algeria</option>
                            <option value="/static/Every_Countries/Eve_Andorra.png">Andorra</option>
                            <option value="/static/Every_Countries/Eve_Angola.png">Angola</option>
                            <option value="/static/Every_Countries/Eve_Antigua and Barbuda.png">Antigua and Barbuda</option>
                            <option value="/static/Every_Countries/Eve_Argentina.png">Argentina</option>
                            <option value="/static/Every_Countries/Eve_Armenia.png">Armenia</option>
                            <option value="/static/Every_Countries/Eve_Australia.png">Australia</option>
                            <option value="/static/Every_Countries/Eve_Austria.png">Austria</option>
                            <option value="/static/Every_Countries/Eve_Azerbaijan.png">Azerbaijan</option>
                            <option value="/static/Every_Countries/Eve_Bangladesh.png">Bangladesh</option>
                            <option value="/static/Every_Countries/Eve_Bahrain.png">Bahrain</option>
                            <option value="/static/Every_Countries/Eve_Bahamas.png">Bahamas</option>
                            <option value="/static/Every_Countries/Eve_Barbados.png">Barbados</option>
                            <option value="/static/Every_Countries/Eve_Belarus.png">Belarus</option>
                            <option value="/static/Every_Countries/Eve_Belgium.png">Belgium</option>
                            <option value="/static/Every_Countries/Eve_Belize.png">Belize</option>
                            <option value="/static/Every_Countries/Eve_Benin.png">Benin</option>
                            <option value="/static/Every_Countries/Eve_Bhutan.png">Bhutan</option>
                            <option value="/static/Every_Countries/Eve_Bolivia.png">Bolivia</option>
                            <option value="/static/Every_Countries/Eve_Bosnia and Herzegovina.png">Bosnia and Herzegovina</option>
                            <option value="/static/Every_Countries/Eve_Botswana.png">Botswana</option>
                            <option value="/static/Every_Countries/Eve_Brazil.png">Brazil</option>
                            <option value="/static/Every_Countries/Eve_Brunei.png">Brunei</option>
                            <option value="/static/Every_Countries/Eve_Bulgaria.png">Bulgaria</option>
                            <option value="/static/Every_Countries/Eve_Burkina Faso.png">Burkina Faso</option>
                            <option value="/static/Every_Countries/Eve_Burundi.png">Burundi</option>
                            <option value="/static/Every_Countries/Eve_Cambodia.png">Cambodia</option>
                            <option value="/static/Every_Countries/Eve_Cameroon.png">Cameroon</option>
                            <option value="/static/Every_Countries/Eve_Canada.png">Canada</option>
                            <option value="/static/Every_Countries/Eve_Central African Republic.png">Central African Republic</option>
                            <option value="/static/Every_Countries/Eve_Chad.png">Chad</option>
                            <option value="/static/Every_Countries/Eve_Chile.png">Chile</option>
                            <option value="/static/Every_Countries/Eve_Colombia.png">Colombia</option>
                            <option value="/static/Every_Countries/Eve_Costa Rica.png">Costa Rica</option>
                            <option value="/static/Every_Countries/Eve_China.png">China</option>
                            <option value="/static/Every_Countries/Eve_Croatia.png">Croatia</option>
                            <option value="/static/Every_Countries/Eve_Cuba.png">Cuba</option>
                            <option value="/static/Every_Countries/Eve_Cyprus.png">Cyprus</option>
                            <option value="/static/Every_Countries/Eve_Denmark.png">Denmark</option>
                            <option value="/static/Every_Countries/Eve_Djibouti.png">Djibouti</option>
                            <option value="/static/Every_Countries/Eve_Dominica.png">Dominica</option>
                            <option value="/static/Every_Countries/Eve_Ecuador.png">Ecuador</option>
                            <option value="/static/Every_Countries/Eve_Egypt.png">Egypt</option>
                            <option value="/static/Every_Countries/Eve_Equatorial Guinea.png">Equatorial Guinea</option>
                            <option value="/static/Every_Countries/Eve_Eritrea.png">Eritrea</option>
                            <option value="/static/Every_Countries/Eve_Estonia.png">Estonia</option>
                            <option value="/static/Every_Countries/Eve_Ethiopia.png">Ethiopia</option>
                            <option value="/static/Every_Countries/Eve_Fiji.png">Fiji</option>
                            <option value="/static/Every_Countries/Eve_Finland.png">Finland</option>
                            <option value="/static/Every_Countries/Eve_France.png">France</option>
                            <option value="/static/Every_Countries/Eve_Gabon.png">Gabon</option>
                            <option value="/static/Every_Countries/Eve_Gambia.png">Gambia</option>
                            <option value="/static/Every_Countries/Eve_Georgia.png">Georgia</option>
                            <option value="/static/Every_Countries/Eve_Germany.png">Germany</option>
                            <option value="/static/Every_Countries/Eve_Ghana.png">Ghana</option>
                            <option value="/static/Every_Countries/Eve_Greece.png">Greece</option>
                            <option value="/static/Every_Countries/Eve_Grenada.png">Grenada</option>
                            <option value="/static/Every_Countries/Eve_Guatemala.png">Guatemala</option>
                            <option value="/static/Every_Countries/Eve_Guinea-Bissau.png">Guinea-Bissau</option>
                            <option value="/static/Every_Countries/Eve_Guinea.png">Guinea</option>
                            <option value="/static/Every_Countries/Eve_Guyana.png">Guyana</option>
                            <option value="/static/Every_Countries/Eve_Haiti.png">Haiti</option>
                            <option value="/static/Every_Countries/Eve_Honduras.png">Honduras</option>
                            <option value="/static/Every_Countries/Eve_Hungary.png">Hungary</option>
                            <option value="/static/Every_Countries/Eve_Iceland.png">Iceland</option>
                            <option value="/static/Every_Countries/Eve_India.png">India</option>
                            <option value="/static/Every_Countries/Eve_Indonesia.png">Indonesia</option>
                            <option value="/static/Every_Countries/Eve_Iran.png">Iran</option>
                            <option value="/static/Every_Countries/Eve_Iraq.png">Iraq</option>
                            <option value="/static/Every_Countries/Eve_Ireland.png">Ireland</option>
                            <option value="/static/Every_Countries/Eve_Israel.png">Israel</option>
                            <option value="/static/Every_Countries/Eve_Italy.png">Italy</option>
                            <option value="/static/Every_Countries/Eve_Jamaica.png">Jamaica</option>
                            <option value="/static/Every_Countries/Eve_Japan.png">Japan</option>
                            <option value="/static/Every_Countries/Eve_Jordan.png">Jordan</option>
                            <option value="/static/Every_Countries/Eve_Kazakhstan.png">Kazakhstan</option>
                            <option value="/static/Every_Countries/Eve_Kenya.png">Kenya</option>
                            <option value="/static/Every_Countries/Eve_Kuwait.png">Kuwait</option>
                            <option value="/static/Every_Countries/Eve_Kyrgyzstan.png">Kyrgyzstan</option>
                            <option value="/static/Every_Countries/Eve_Laos.png">Laos</option>
                            <option value="/static/Every_Countries/Eve_Latvia.png">Latvia</option>
                            <option value="/static/Every_Countries/Eve_Lebanon.png">Lebanon</option>
                            <option value="/static/Every_Countries/Eve_Liberia.png">Liberia</option>
                            <option value="/static/Every_Countries/Eve_Libya.png">Libya</option>
                            <option value="/static/Every_Countries/Eve_Liechtenstein.png">Liechtenstein</option>
                            <option value="/static/Every_Countries/Eve_Lithuania.png">Lithuania</option>
                            <option value="/static/Every_Countries/Eve_Luxembourg.png">Luxembourg</option>
                            <option value="/static/Every_Countries/Eve_Malaysia.png">Malaysia</option>
                            <option value="/static/Every_Countries/Eve_Madagascar.png">Madagascar</option>
                            <option value="/static/Every_Countries/Eve_Maldives.png">Maldives</option>
                            <option value="/static/Every_Countries/Eve_Mali.png">Mali</option>
                            <option value="/static/Every_Countries/Eve_Malta.png">Malta</option>
                            <option value="/static/Every_Countries/Eve_Mauritania.png">Mauritania</option>
                            <option value="/static/Every_Countries/Eve_Mauritius.png">Mauritius</option>
                            <option value="/static/Every_Countries/Eve_Mexico.png">Mexico</option>
                            <option value="/static/Every_Countries/Eve_Moldova.png">Moldova</option>
                            <option value="/static/Every_Countries/Eve_Monaco.png">Monaco</option>
                            <option value="/static/Every_Countries/Eve_Mongolia.png">Mongolia</option>
                            <option value="/static/Every_Countries/Eve_Montenegro.png">Montenegro</option>
                            <option value="/static/Every_Countries/Eve_Morocco.png">Morocco</option>
                            <option value="/static/Every_Countries/Eve_Mozambique.png">Mozambique</option>
                            <option value="/static/Every_Countries/Eve_Namibia.png">Namibia</option>
                            <option value="/static/Every_Countries/Eve_Nepal.png">Nepal</option>
                            <option value="/static/Every_Countries/Eve_Netherlands.png">Netherlands</option>
                            <option value="/static/Every_Countries/Eve_New Zealand.png">New Zealand</option>
                            <option value="/static/Every_Countries/Eve_Nicaragua.png">Nicaragua</option>
                            <option value="/static/Every_Countries/Eve_Niger.png">Niger</option>
                            <option value="/static/Every_Countries/Eve_Nigeria.png">Nigeria</option>
                            <option value="/static/Every_Countries/Eve_Norway.png">Norway</option>
                            <option value="/static/Every_Countries/Eve_Oman.png">Oman</option>
                            <option value="/static/Every_Countries/Eve_Pakistan.png">Pakistan</option>
                            <option value="/static/Every_Countries/Eve_Panama.png">Panama</option>
                            <option value="/static/Every_Countries/Eve_Papua New Guinea.png">Papua New Guinea</option>
                            <option value="/static/Every_Countries/Eve_Paraguay.png">Paraguay</option>
                            <option value="/static/Every_Countries/Eve_Peru.png">Peru</option>
                            <option value="/static/Every_Countries/Eve_Philippines.png">Philippines</option>
                            <option value="/static/Every_Countries/Eve_Poland.png">Poland</option>
                            <option value="/static/Every_Countries/Eve_Portugal.png">Portugal</option>
                            <option value="/static/Every_Countries/Eve_Qatar.png">Qatar</option>
                            <option value="/static/Every_Countries/Eve_Romania.png">Romania</option>
                            <option value="/static/Every_Countries/Eve_Rwanda.png">Rwanda</option>
                            <option value="/static/Every_Countries/Eve_Saint Lucia.png">Saint Lucia</option>
                            <option value="/static/Every_Countries/Eve_Saint Vincent and the Grenadines.png">Saint Vincent and the Grenadines</option>
                            <option value="/static/Every_Countries/Eve_El Salvador.png">El Salvador</option>
                            <option value="/static/Every_Countries/Eve_San Marino.png">San Marino</option>
                            <option value="/static/Every_Countries/Eve_Saudi Arabia.png">Saudi Arabia</option>
                            <option value="/static/Every_Countries/Eve_Senegal.png">Senegal</option>
                            <option value="/static/Every_Countries/Eve_Seychelles.png">Seychelles</option>
                            <option value="/static/Every_Countries/Eve_Sierra Leone.png">Sierra Leone</option>
                            <option value="/static/Every_Countries/Eve_Singapore.png">Singapore</option>
                            <option value="/static/Every_Countries/Eve_Serbia.png">Serbia</option>
                            <option value="/static/Every_Countries/Eve_Slovakia.png">Slovakia</option>
                            <option value="/static/Every_Countries/Eve_Slovenia.png">Slovenia</option>
                            <option value="/static/Every_Countries/Eve_Somalia.png">Somalia</option>
                            <option value="/static/Every_Countries/Eve_South Africa.png">South Africa</option>
                            <option value="/static/Every_Countries/Eve_Spain.png">Spain</option>
                            <option value="/static/Every_Countries/Eve_Sri Lanka.png">Sri Lanka</option>
                            <option value="/static/Every_Countries/Eve_Sudan.png">Sudan</option>
                            <option value="/static/Every_Countries/Eve_Suriname.png">Suriname</option>
                            <option value="/static/Every_Countries/Eve_Sweden.png">Sweden</option>
                            <option value="/static/Every_Countries/Eve_Switzerland.png">Switzerland</option>
                            <option value="/static/Every_Countries/Eve_Syria.png">Syria</option>
                            <option value="/static/Every_Countries/Eve_Tanzania.png">Tanzania</option>
                            <option value="/static/Every_Countries/Eve_Thailand.png">Thailand</option>
                            <option value="/static/Every_Countries/Eve_Trinidad and Tobago.png">Trinidad and Tobago</option>
                            <option value="/static/Every_Countries/Eve_Timor-Leste.png">Timor-Leste</option>
                            <option value="/static/Every_Countries/Eve_Togo.png">Togo</option>
                            <option value="/static/Every_Countries/Eve_Tunisia.png">Tunisia</option>
                            <option value="/static/Every_Countries/Eve_Turkey.png">Turkey</option>
                            <option value="/static/Every_Countries/Eve_Uganda.png">Uganda</option>
                            <option value="/static/Every_Countries/Eve_Ukraine.png">Ukraine</option>
                            <option value="/static/Every_Countries/Eve_United Arab Emirates.png">United Arab Emirates</option>
                            <option value="/static/Every_Countries/Eve_United Kingdom.png">United Kingdom</option>
                            <option value="/static/Every_Countries/Eve_Uruguay.png">Uruguay</option>
                            <option value="/static/Every_Countries/Eve_Uzbekistan.png">Uzbekistan</option>
                            <option value="/static/Every_Countries/Eve_Venezuela.png">Venezuela</option>
                            <option value="/static/Every_Countries/Eve_Vietnam.png">Vietnam</option>
                            <option value="/static/Every_Countries/Eve_Zambia.png">Zambia</option>
                            <option value="/static/Every_Countries/Eve_Zimbabwe.png">Zimbabwe</option>
                            </select>
                            <div class="col-md-12">
                                    <img src="/static/EveryCoutry_Canada.png" alt="..." class="img-responsive center-block" id = "iamge">
                            </div>
                        </div>

            </div>
        </div>



    </div>

</div>

</div> <!-- /container -->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

  </body>
</html>
